

<table class="table bg-success table-bordered">

    {% for i in row_array %}
        <tr>
            <!--<td>{{i}}</td>-->
            {% for p in i %}<td>{{p}}</td>{% endfor %}

        </tr>
        <!--<tr>-->
            <!--<td>{{i.year}}</td>-->
            <!--<td>{% for i in i.month %}{{i}}{% endfor %}</td>-->
            <!--<td>{% for i in i.date %}{{i}}{% endfor %}</td>-->
            <!--<td>{% for i in i.credit %}{{i}}{% endfor %}</td>-->
            <!--<td>{% for i in i.debit %}{{i}}{% endfor %}</td>-->
        <!--</tr>-->
    {% endfor %}
</table>


<h3>config psm 4</h3>
<table class="table table-bordered bg-success">

    {% for i in read_img %}
        <tr>
            <!--<td>{{i}}</td>-->
            {% for p in i %}<td>{{p}}</td>{% endfor %}

        </tr>
        <!--<tr>-->
            <!--<td>{{i.year}}</td>-->
            <!--<td>{% for i in i.month %}{{i}}{% endfor %}</td>-->
            <!--<td>{% for i in i.date %}{{i}}{% endfor %}</td>-->
            <!--<td>{% for i in i.credit %}{{i}}{% endfor %}</td>-->
            <!--<td>{% for i in i.debit %}{{i}}{% endfor %}</td>-->
        <!--</tr>-->
    {% endfor %}
</table>


<!--<h3>config hocr</h3>-->
<!--{{read_img_1}}-->
<!--<h3>config psm 6</h3>-->
<!--{{read_img_2}}-->
<!--<h3>config psm 3</h3>-->
<!--{{read_img_3}}-->
<!--<h3>config psm 9</h3>-->
<!--{{read_img_4}}-->
<!--<h3>config psm -c tessedit_char_whitelist=ABCDEFGHIJKLMNOPQRSTUVWXYZ</h3>-->
<!--{{read_img_5}}-->
<!--<h3>config psm -c tessedit_char_whitelist=ABCDEFGHIJKLMNOPQRSTUVWXYZ -psm 4</h3>-->
<!--{{read_img_6}}-->